<?php
# BUG --xattrs https://bugzilla.samba.org/show_bug.cgi?id=10381
$RSYNC_OPTS = "-ltpDcuhRO --exclude /.sfs.conf --exclude /.sfs.mounted --delete-missing-args --delete-delay --files-from=%b %s %d";
$CONFIG = array(
"SYNC_DATA_NOREC" => "rsync -d --no-r $RSYNC_OPTS",
"SYNC_DATA_REC" => "rsync -r $RSYNC_OPTS",
"PULL_BATCHES" => "rsync -acduhRO --remove-source-files --include='./' --include='*.batch' --exclude='*' %s %d", // comment to disable pull
"ACCEPT_STATUS" => array(0, 24), // 24 = Partial transfer due to vanished source files (rsync)
"NODES" => array(
	"destnode" => array("DATA" => "rsync://desthost:destport/destdata/",
						"BATCHES" => "rsync://desthost:destport/destbatches/")),
"PUSHPROCS" => 4, // number of push processes
"PUSHCOUNT" => 10, // number of pushed batches in a round
"PULLCOUNT" => 3, // number of pulled batches in a round

"BULK_OLDER_THAN" => 60, // bulk batches older than X seconds, must be higher than the sum of all timeouts
"BULK_MAX_BATCHES" => 100,

"BACKUPBATCHES" => "/path/batches/backup", // comment to disable backups
"DATADIR" => "/path/data/",
"BATCHDIR" => "/path/batches",
"CHECKFILE" => "/path/data/.sfs.mounted", // stop syncing if this file does not exist, it is checked periodically
"SCANTIME" => 1, // sleep X seconds before scanning for new batches
"FAILTIME" => 10, // retry after normal sleep + X seconds instead of $SCANTIME in case of fail
"LOG_IDENT" => "sfs-sync(%n)", // %n is replaced with the name of the subprocess
"LOG_OPTIONS" => LOG_PID|LOG_CONS|LOG_PERROR,
"LOG_FACILITY" => LOG_DAEMON,
"LOG_DEBUG" => false,
"DRYRUN" => false // true -> do not sync, batches will not be deleted
);
?>
